<title>Home Page</title>

<%- include('../partials/header') %>
<main>
    <h2>Welcome to the Community Portal</h2>
    <p>This is your one-stop hub for upcoming events, community news, and connecting with others.</p>
</main>


<%- include('../partials/footer') %>